/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Nav */
nav {
  background-color: rgba(235, 235, 235, 0.774);
  padding: 0.8rem;
  padding-right: 4rem;
  border-bottom: 1px solid rgba(197, 197, 197, 0.774);
  list-style-type: none;
  position: sticky;
  font-weight: bold;
  top: 0;
}
nav .nav,
nav .nav-logo {
  margin: 0.5rem;
  display: inline;
}
.right-nav {
  float: right;
  display: inline-block;
}
.tuitt-button {
  color: white;
  background-color: #c2195b;
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
/* Nav end */

/* landing page */
.title-2 {
  font-family: "Zilla Slab";
}
#bg-image {
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg
  );
}
.front-bg {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
}
.container {
  color: white;
  text-align: right;
  padding-right: 5rem;
  padding-top: 1rem;
}
#bg-image .title {
  font-family: "Zilla Slab";
  font-size: 50px;
  font-weight: 400;
}
#bg-image .subtitle {
  font-weight: lighter;
  font-size: 26px;
}

#bg-image .apply-button {
  color: white;
  background-color: #c2195b;
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}
/* landing page end */
.title-2 {
  font-family: "Zilla Slab";
  text-align: center;
}
/* intro */
.intro {
  padding: 3rem;
}
.intro-description {
  padding: 2rem;
  text-align: justify;
  margin: auto;
  width: 60%;
}
/* intro end */

/* pre-footer */
.pre-footer {
  text-align: center;
  padding: 3rem;
  background-color: #f7fbfb;
}
.prefooter-description {
  padding: 2rem 0rem 0.5rem 0rem;
}
.book-button {
  color: white;
  background-color: #336589;
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  
}
/* pre-footer end */

/* footer */
footer {
  text-align: center;
}
/* footer end */
